{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
    <h2 class="heading">About Us</h2>
        <div class="row">
        </div>
        <div class="row">
        <h3>The How</h3>
        </div>
        <p>SanitizeUK is a sanitization and cleaning company that was born in the beginning months of 2020, out of sheer Darwinian necessity amidst the COVID-19 outbreak and pandemic. 
        A team has since then committed to sanitizing the U.K. Ensuring that everyday people feel safe knowing that their favourite shops, their children's schools, their places or work, 
        or any other place they want to go have been properly sanitised and disinfected. 
        Not only is this a basic health and safety requirement, but SanitizeUK understands 
        the importance and the outright necessity of feeling safe and operating freely knowing that you will not contract any life-threatening viruses. This is a primary concern for the modern-day consumer, 
        and consumer psychology tells us that this will become an important aspect of how well a business does in this current economic climate. </p>
        <div class="row">
        <h3>Our Aim</h3>        
        </div>
        <p>We aim to use our expertise in sanitization as well as our state of the art sanitization tech 
        to do exactly what our name says!</p>
    

        <hr class="featurette-divider">
        <h2 class="heading">Sanitisation</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Surface Sanitisation</h2>
            <p class="">The objective of sanitising surfaces is to kill those bacteria or viruses that are present. 
            Cleaning teams, however, dedicated, can only hope to sanitise a fraction of the surfaces we touch every day. Gym equipment is a classic example of an area that is difficult if not impossible to effectively sanitise.
            SanitizeUk utilises science in order to reach those difficult areas- electrostatics. By using electrostatic spraying technology, which creates a magnetic attraction between the spray droplets and the targeted surface, 
            transfer efficiencies can be achieved of 80%, even 95% in certain applications. The challenges facing cleaning professionals worldwide are often not a result of ineffective chemicals but rather lack of time, resources, and budget necessary to stay ahead of ever-growing public health threats. 
            This is where touchless electrostatic disinfection technology becomes fundamental in empowering users with the ability to eliminate pathogens more effectively.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/media/disinfectant-fogger-machine.png" alt="Generic placeholder image">
          </div>
        </div>

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sanitizing Solution</h2>
            <p class="">SanitizeUk combines the efficiency of electrostatic coating with the performance of Supernova's alcohol-free germ protection which is proven effective against Coronavirus (COVID-19), Ebola, Clostridium difficile, MRSA and Norovirus to deliver a pathogen busting service.
            Unlike traditional surface sanitisers,  Supernova Surface Sanitiser is QUAT-free and can be used without risk of taint to food.
            With no need to rinse and an on-going efficacy against bacteria and viruses between cleans, it offers extended protection against cross-contamination. Formulated to kill and neutralise 99.9999% of bacteria and viruses, including common but potentially deadly foodborne pathogens such as Listeria, this product continues to work even when dry.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/media/spray_desk.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
        <h2 class="heading">The Proof</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <p class="">The solution we use has been tested by the NHS and is proven to protect even frequently touched surfaces. Supernova has been thoroughly tested to ensure it is fit for purpose through independent testing against the following viruses and bacteria:
            <span class="sub-heading"><strong> Quick kill tested to EN 13697 (bactericidal) using 15 second contact time</strong></span></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/media/antibacteria.png" alt="Generic placeholder image">
            <p><a class="btn btn-secondary" href="https://res.cloudinary.com/dwpozm2nb/image/upload/v1594657775/Supernova_Certification_h6kxe0.jpg" role="button">View details &raquo;</a></p>
          </div>

          <div class="col-lg-4">
            <span class="sub-heading"><strong>Tested to EN1276, EN13727, EN14561 and EN1500 against the following gram positive and gram negative bacteria</strong></span>
            <ul>
            <li><i>Staphylococcus aureus</i></li>
            <li><i>Staphylococcus aureus (MRSA)</i></li>
            <li><i>Pseudomonas aeruginosa</i></li>
            <li><i>E.coli</i></li>
            <li><i>Enterococcus hirae</i></li>
            <li><i>Salmonella</i></li>
            <li><i>Listeria</i></li>
            <li><i>Legionella</i></li>
            </ul>
            <span class="sub-heading"><strong>Tested to EN1276, EN13727, EN14561 and EN1500 against the following gram positive and gram negative bacteria</strong></span>
            <ul>
            <li><i>Bacillus subtilis</i></li>
            <li><i>Clostridium difficile</i></li>
            </ul>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <span class="sub-heading"><strong>Tested to EN1650 and EN13624 against the following fungi</strong></span>
            <ul>
            <li><i>Aspergillus niger</i></li>
            <li><i>Candida albicans</i></li>
            </ul>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <span class="sub-heading"><strong>Tested to EN1650 and EN13624 against the following fungi</strong></span>
            <ul>
            <li><i>Norovirus</i></li>
            <li><i>SARS</i></li>
            <li><i>Influenza</i></li>
            <li><i>Hepatitis</i></li>
            <li><i>HIV</i></li>
            <li><i>MERS</i></li>
            <li><i>Ebola</i></li>
            </ul>
          </div>
          <!-- /.col-lg-4 -->
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% endblock %}