<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=personal" class="dropdown-item">Personal</a>
                <a href="{% url 'products' %}?category=business" class="dropdown-item">Business</a>
                <a href="{% url 'products' %}?category=hand" class="dropdown-item">Hand</a>
                <a href="{% url 'products' %}?category=surface" class="dropdown-item">Surface</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
            <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
            <a href="{% url 'about' %}" class="dropdown-item">Sanitisation</a>
            <a href="{% url 'about' %}" class="dropdown-item">The Proof</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consultation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Book a Consultation</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact us 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact us </a>
            </div>
        </li>
    </ul>
</div>